.Navbar{
   
    height: 80px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.Navbar-left h2 a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: larger;
}

.Navbar-right a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: large;
}

.Navbar-right a:hover{
    color: #007bff;
}

.Navbar-right button{
    
    color: white;
    font-weight: bold;
    border: none;
    font-size: larger;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;

}

.Navbar-right button:hover{
    background-color: #007bff;
}